/**
 * Styling for the video player in both the website and the mobile app.
 */
.video-js .vjs-overlay-top-right {
  position: absolute;
  right: 1%;
  top: 5%;
  width: 17%;
}

.video-js .vjs-overlay-top-right img {
  width: 45%;
  height: 45%;
}
